.header {
    font-family: sans-serif;
    font-size: 37px;
    padding-left: 36px;
    background-color: white;
    margin-top: 0;
    padding-top: 0;
    top: 0;
}
.title {
    background-image: url(../assets/img/jazz-side-image.jpg);
    background-size: cover;
    background-position: 5% 55%;
    background-repeat: no-repeat;
    text-align: top;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
    color: rgb(0, 0, 0);
    height: 800px;
    width: 100%;
}
div.quote {
    position: relative;
    left: 62%;
    width: 400px;
    word-wrap: normal;
    top: 35%;
    border: black solid 4px;
    background: rgba(204, 204, 204, 0.8);
    padding: 8px;
    padding-left: 24px;
    padding-bottom: 40px;
    font-size: xx-large;
}
.body {
    background-color: lightgray;
    padding-top: 20px;
}
.description {
    margin-left: 16px;
    padding-top: 0;
    margin-top: 0;
    padding-left: 20px;
    margin-left: 220px;
    padding-right: 4px;
    margin-bottom: 16px;
    padding-right: 20px;
    width: 760px;
    border: darkgray solid 1px;   
}
.description a {
    text-decoration: none;
}
.description b {
    font-family: cursive;
    font-weight: 900;
}
.video {
    margin-left: 220px;
}
.footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 25%;
    padding-bottom: 16px;
    padding-top: 10px;
    text-decoration: none;
    font-family: sans-serif;
}
.footer a {
    color: darkslateblue;
    text-decoration: none;
}
.tableau-section {
    display: flex;
    margin-left: 20px;
}

#drop-cap {
    font-size: 100px;
    margin-left: 30px;
    font-family: cursive;
    padding-right: 5px;
    margin-top: 0;
}
#line-one {
    font-size: 20px;
    font-weight: bold;
    padding-top: 0;
}
#tableau-header {
    padding-left: 200px;
    font-family: sans-serif;
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 30px;
}